body{
    /*background-color: #272725;*/
    /*background-image: url("../images/vinil-picture.jpg");
    background-repeat: space;
    background-size: contain;*/
    font-family: 'Roboto', sans-serif;
}
.background-picture{
    background-image: url("../images/vinyl-background.jpg");
    background-size: 100vw;
    background-repeat: repeat;
}
.darkgray-override-class{
    background-color: #2E373D;
}
.white-text-override-class{
    color: #FBFBFB;
}
.white-background-override-class{
    background-color: #FBFBFB;
}
.lightgray-rounded-corners-override-class{
    border-radius: 8px;
    background-color: #f2f2f2;
}

.red-text-override-class{
    color: #B75956;
}
.min-height-override-class-200{
    min-height: 220px;
}
.margin-15-override-class{
    margin-left: -15px;
    margin-right: -15px;
}
.height-max-70vh-override-class{
    max-height: 70vh;
}
.height-min-90vh-override-class{
    min-height: 90vh;
}
.height-min-80vh-override-class{
    min-height: 80vh;
}
.red-color-with-opacity-override-class{
    background-color:rgba(255,0,0,0.3)
}

.relative-position-override-class{
    position:relative;
}

.absolute-position-override-class{
    position:absolute;
    top:0;
    left:0;
}

.visibility-hidden-override-class{
    visibility:hidden;
}
.invalid-feedback-override-class{
    color:#DD3444;
}
.red-border-override-class{
    border:1px solid #DD3444;
}

.image-preview-container{


    padding: 15px;

    /*Default text*/
    font-weight: bold;
    color: #CED4D9;

}
.gray-border-override-class{
    border:1px solid #CED4D9;
}
.image-preview-image{
    display: none;
    max-width: 50px;
    height: auto;
}


.width-100-override-class{
    width: 100%;
}
/*----MODAL CSS---*/

.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }